---
layout: default
title: Home
---



<div class="posts">
{% assign items = paginator.posts | sort:"order" %}
  {% for post in items %}
    <hr>
  <div class="post">
    <h1 class="post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}{{post.ID}}
      </a>
    </h1>

<!--    <span class="post-date">{{ post.date | date_to_string }}</span>-->

    {{ post.content }}
  </div>
  {% endfor %}
</div>





<div class="pagination">
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/">Previous</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Previous</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Previous</span>
  {% endif %}
     {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}/page{{paginator.next_page}}">Next</a>
  {% else %}
    <span class="pagination-item older">Next</span>
  {% endif %}
</div>
