<html>
test
    
<!--bootstrap slider-->
<link href="TorusKnotFibration/lib/slider/bootstrap-slider.min.css" rel="stylesheet">
<script src="TorusKnotFibration/lib/slider/bootstrap-slider.min.js"></script>

<script>
    var mathbox = mathBox({
        plugins: ['core', 'controls', 'cursor'],
        controls: {
            // Orbit controls, i.e. Euler angles, with gimbal lock
            klass: THREE.OrbitControls,
            parameters: {
                noZoom: true
            },

            // Trackball controls, i.e. Free quaternion rotation
            //klass: THREE.TrackballControls,
        },
        mathbox: {
            warmup: 1
        }
    });

</script>

</html>
