<html>
test
    
<script src="../lib/mathbox/build/mathbox-bundle.js"></script>
<link rel="stylesheet" href="../lib/mathbox/build/mathbox.css">
<meta name="viewport" content="initial-scale=1, maximum-scale=1">

<script>
    var mathbox = mathBox({
        plugins: ['core', 'controls', 'cursor'],
        controls: {
            // Orbit controls, i.e. Euler angles, with gimbal lock
            klass: THREE.OrbitControls,
            parameters: {
                noZoom: true
            },

            // Trackball controls, i.e. Free quaternion rotation
            //klass: THREE.TrackballControls,
        },
        mathbox: {
            warmup: 1
        }
    });

</script>

</html>
